@model Contact
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Detale dotyczące kontaktu:</h1>




<p> <strong>Imie:</strong> @Model.Name</p>
<p> <strong>Email:</strong> @Model.Email</p>
<p> <strong>Telefon:</strong> @Model.Phone</p>
<p> <strong>Data ur.:</strong> @Model.Birth</p>
<p><strong>Piorytet:</strong> @Model.Priority.GetDisplayName()</p>